@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-head {
  width: 5%;
  min-width: 220px;
  max-width: 220px;
  background-color: #1085b0;
}

.c-head h1 {
  background-color: #fff;
  padding: 16px 20px 20px;
}

.c-head h1 p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 11px;
  border-bottom: 1px solid #1085b0;
  padding-bottom: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Navigation page
------------------------------------------------------------*/
.c-gnavi {
  text-align: center;
  padding-bottom: 446px;
  padding-top: 20px;
}

.c-gnavi a {
  display: block;
  padding: 15px;
}

.c-gnavi a:hover {
  background-color: #269eca;
}

.c-gnavi li.is-active {
  background-color: #269eca;
}

/* 
------------------------------------------------------------*/
.c-link {
  background-color: #269eca;
  padding: 0 20px 20px;
}

.c-link p {
  padding-top: 20px;
}

.c-link__email {
  background-color: #fff;
  text-align: center;
  margin-top: 20px;
}

.c-link__email:hover {
  background-color: #36c1ac;
}

.c-link__email:hover a, .c-link__email:hover img:hover {
  opacity: 1;
}

.c-link__email a {
  display: block;
  padding: 15px 0;
}

.c-link__phone {
  border: 1px solid #68bbda;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-top: 10px;
}

.c-link__phone:after {
  position: absolute;
  content: "";
  background: url(../img/common/icon-phone.png) no-repeat;
  width: 20px;
  height: 20px;
  top: 13px;
  left: 20px;
}

.c-link__phone a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  padding: 13px 0 13px 20px;
}

.c-link--flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.c-link--flow .c-link__email, .c-link--flow .c-link__phone {
  margin: 0;
  width: 50%;
  margin: 0 5px;
}

.c-link--flow .c-link__email a, .c-link--flow .c-link__phone a {
  height: 60px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-link--flow .c-link__phone:after {
  left: 43px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-footer {
  background-color: #269eca;
  min-width: 960px;
}

.c-footer .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 32px;
}

.c-footer .c-copyright {
  background-color: #fff;
  text-align: center;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #666;
  font-size: 12px;
  padding: 17px 0;
  letter-spacing: 0.5px;
}

.c-footer__logo p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  padding-top: 18px;
}

.c-footer__link {
  margin: 0 51px 0 43px;
  width: 180px;
}

.c-footer__email {
  background-color: #fff;
  text-align: center;
}

.c-footer__email:hover {
  background-color: #36c1ac;
}

.c-footer__email:hover a, .c-footer__email:hover img:hover {
  opacity: 1;
}

.c-footer__email a {
  display: block;
  padding: 8.5px 10px;
}

.c-footer__phone {
  border: 1px solid #68bbda;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
  margin-top: 3px;
}

.c-footer__phone:after {
  position: absolute;
  content: "";
  background: url(../img/common/icon-phone.png) no-repeat;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 20px;
}

.c-footer__phone a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 7px 0 7px 20px;
  display: block;
}

.c-footer__menu {
  width: 210px;
}

.c-footer__menu li {
  width: 50%;
  float: left;
}

.c-footer__menu a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 1;
  margin-bottom: 8px;
}

.c-footer__menu a:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  background: url(../img/common/icon-navi.png) no-repeat;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-footer .back-top01 {
  position: absolute;
}

.c-footer .back-top {
  margin-left: 565px;
  position: fixed;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
  bottom: 120px;
  left: 50%;
  background: #269eca url(../img/common/icon-backtop.png) center center no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10000;
  cursor: pointer;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-breadcrumb {
  padding: 30px 10px 40px 0;
}

.c-breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb li {
  line-height: 1;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 12px;
}

.c-breadcrumb li:after {
  content: ">";
  margin: 0 5px;
  font-size: 12px;
}

.c-breadcrumb li:last-child:after {
  content: '';
}

.c-breadcrumb a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #006699;
  font-size: 12px;
}

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-container {
  width: 960px;
  margin: 0 auto;
  min-width: 960px;
}

/*
------------------------------------------------------------*/
.l-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
------------------------------------------------------------*/
.l-main {
  width: 95%;
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  margin: 40px 0;
}

.c-btn1:hover {
  opacity: 0.7;
}

.c-btn1 a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  display: block;
  width: 270px;
  height: 50px;
  background-color: #269eca;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
}

.c-btn1 a:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  right: 43px;
  top: 22px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-btn1 a:after {
  position: absolute;
  content: "";
  top: 21px;
  background: url(../img/common/icon-btn.png) no-repeat;
  width: 19px;
  height: 13px;
  left: 40px;
  top: 18px;
}

.c-btn1--contact {
  margin: 52px 0;
  text-align: center;
}

.c-btn1--contact button {
  margin: 0 auto;
  width: 180px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #269eca;
  padding-right: 25px;
  border: 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.c-btn1--contact button:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  right: 43px;
  top: 22px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-titleMain {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-titleMain h2 {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*
------------------------------------------------------------*/
.c-title2 {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.c-title2:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  background-color: #269eca;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -26px;
}

.c-title2 h2 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text1 {
  text-align: center;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  line-height: 1.7;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-map__info {
  margin-top: 22px;
}

.c-map__info li {
  margin-bottom: 5px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  position: relative;
}

.c-map__info li:not(:first-child) {
  padding-left: 25px;
}

.c-map__info li:not(:first-child):after {
  content: '';
  position: absolute;
  width: 15px;
  height: 17px;
  background: url(../img/common/icon-map.png) no-repeat;
  left: 0;
  top: 0;
}

/*------------------------------------------------------------
Top page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-index {
  min-width: 960px;
  margin-bottom: 10px;
}

.p-index__banner {
  background: url(../img/index/bg-index.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  min-height: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index__banner h2 {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-index__scroll {
  position: absolute;
  content: "";
  width: 34px;
  height: 39px;
  left: 50%;
  bottom: 35px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*
------------------------------------------------------------*/
.c-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-news__text {
  background-color: #1085b0;
  padding-right: 40px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.c-news__text:after {
  position: absolute;
  content: "";
  height: 45px;
  width: 30px;
  background-color: #fff;
  right: -15px;
  -webkit-transform: skew(-30deg);
      -ms-transform: skew(-30deg);
          transform: skew(-30deg);
  top: 0;
}

.c-news__text:before {
  position: absolute;
  content: "";
  height: 45px;
  width: 1000px;
  background-color: #1085b0;
  left: -1000px;
  z-index: -1;
  top: 0;
}

.c-news ul {
  position: relative;
  width: 100%;
  height: 45px;
  margin-left: 10px;
  background-color: #fff;
  overflow: hidden;
}

.c-news li {
  opacity: 0;
  position: absolute;
  width: 70%;
  height: 100%;
  top: 12px;
}

.c-news li span {
  display: inline-block;
  margin-right: 20px;
}

.c-news li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-news a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 
------------------------------------------------------------*/
.p-index-about {
  overflow: hidden;
}

.p-index-about__title {
  background: url(../img/index/bg01.png) no-repeat;
  padding: 50px 0;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
}

.p-index-about__imgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skew(-19deg);
      -ms-transform: skew(-19deg);
          transform: skew(-19deg);
}

.p-index-about__imgtextLeft {
  background-color: #2aa4d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px 67px 52px 50px;
  position: relative;
}

.p-index-about__imgtextLeft:after {
  position: absolute;
  content: "";
  border-left: 50px solid #2aa4d1;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: skew(19deg);
      -ms-transform: skew(19deg);
          transform: skew(19deg);
  z-index: -1;
}

.p-index-about__imgtextRight {
  background-color: #1085b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 50px 52px 67px;
  position: relative;
}

.p-index-about__imgtextRight:after {
  position: absolute;
  content: "";
  border-left: 50px solid #1085b0;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-transform: skew(19deg);
      -ms-transform: skew(19deg);
          transform: skew(19deg);
  z-index: -1;
}

.p-index-about__img {
  -webkit-transform: skew(19deg);
      -ms-transform: skew(19deg);
          transform: skew(19deg);
}

.p-index-about__text {
  width: 215px;
  margin-left: 20px;
  -webkit-transform: skew(19deg);
      -ms-transform: skew(19deg);
          transform: skew(19deg);
}

.p-index-about__text h3 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.p-index-about__text h3 span {
  font-size: 15px;
}

.p-index-about__text p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  padding: 8px 0 13px;
  line-height: 1.72;
}

.p-index-about__text a {
  text-decoration: none;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  font-size: 14px;
  border: 1px solid #fff;
  width: 215px;
  display: inline-block;
  text-align: center;
  padding: 5px 18px 5px 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-index-about__text a:after {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  top: 47%;
  right: 80px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.p-index-about__text a:hover {
  background-color: #fff;
  color: #333;
  opacity: 1;
}

.p-index-about__text a:hover:after {
  border: solid #36c1ac;
  border-width: 0 2px 2px 0;
}

/* 
------------------------------------------------------------*/
.p-index-works, .p-index-flow, .p-index-policy {
  margin-top: 10px;
}

.c-bgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-bgtext__left {
  background: url(../img/index/bg03.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 60%;
  margin-right: -10%;
  padding: 50px 0;
}

.c-bgtext__right {
  background: url(../img/index/bg02.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 54.5%;
  margin-left: -4.5%;
  padding: 48px 0;
}

.c-bgtext__text {
  margin-left: 8%;
  padding-left: 70px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-bgtext__text p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  padding: 25px 0;
  line-height: 1.72;
  width: 100%;
  max-width: 420px;
}

.c-bgtext__text a {
  text-decoration: none;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  font-size: 14px;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 10px 18px 10px 0;
  width: 215px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-bgtext__text a:after {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  top: 47%;
  right: 80px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.c-bgtext__text a:hover {
  background-color: #fff;
  color: #333;
  opacity: 1;
}

.c-bgtext__text a:hover:after {
  border: solid #36c1ac;
  border-width: 0 2px 2px 0;
}

.c-bgtext--flow .c-bgtext__left {
  margin-right: 0;
  margin-left: -4.5%;
  background: url(../img/index/bg04.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 54.5%;
}

.c-bgtext--flow .c-bgtext__right {
  background: url(../img/index/bg05.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  margin-left: 0;
  margin-right: -12%;
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 75px;
}

.c-bgtext--flow .c-bgtext__text {
  width: auto;
  margin-right: 18%;
  padding-left: 10px;
  margin-left: 0;
  padding-right: 75px;
}

.c-bgtext--policy .c-bgtext__left {
  background: url(../img/index/bg06.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/*------------------------------------------------------------
Company page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-company {
  min-width: 960px;
  padding-bottom: 48px;
}

.p-company .c-titleMain {
  background: url(../img/company/bg-company.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/*
------------------------------------------------------------*/
.p-company1-info {
  width: 700px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}

.p-company1-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-company1-info__item span {
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e0f4fc;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  padding: 20px 20px 11px;
  display: block;
}

.p-company1-info__item p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  width: 520px;
  padding: 20px 20px 10px;
}

.p-company2 {
  margin-top: 108px;
}

.p-company2 .c-map {
  margin: 30px 0;
}

/*------------------------------------------------------------
Business page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-business {
  min-width: 960px;
  padding-bottom: 40px;
}

.p-business .c-titleMain {
  background: url(../img/business/bg-business.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.p-business1 .c-title2 {
  margin-bottom: 28px;
}

.p-business1-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.p-business1-list__link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.p-business1-list__img {
  width: 360px;
  height: 240px;
}

.p-business1-list__img img {
  width: 100%;
  height: 100%;
}

.p-business1-list__text {
  margin-left: 30px;
  width: 570px;
}

.p-business1-list__text h4 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #269eca;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-business1-list__text p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  margin-top: 16px;
  line-height: 1.75;
}

/*------------------------------------------------------------
Works page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-works {
  min-width: 960px;
  padding-bottom: 80px;
}

.p-works .c-titleMain {
  background: url(../img/works/bg-works.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/*
------------------------------------------------------------*/
.p-works1-list {
  *zoom: 1;
}

.p-works1-list:after {
  display: block;
  content: "";
  clear: both;
}

.p-works1-list__item {
  text-align: center;
  margin: 30px 30px 0 0;
  position: relative;
  float: left;
}

.p-works1-list__link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.p-works1-list__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-works1-list__item:nth-child(3n) {
  margin-right: 0;
}

.p-works1-list__img {
  position: relative;
  width: 300px;
  height: 300px;
}

.p-works1-list__img img {
  width: 100%;
  height: 100%;
}

.p-works1-list__img:after {
  position: absolute;
  content: "";
  background: url(../img/works/icon-list.png) no-repeat;
  width: 46px;
  height: 46px;
  right: 10px;
  bottom: 10px;
}

.p-works1-list__text h3 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #269eca;
  padding: 9px 10px;
}

.p-works1-list__text p, .p-works1-list__text span {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  background-color: #e0f4fc;
}

.p-works1-list__text p {
  padding: 16px 10px;
}

.p-works1-list__text span {
  display: block;
}

/*------------------------------------------------------------
Works page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-flow {
  min-width: 960px;
  padding-bottom: 82px;
}

.p-flow .c-titleMain {
  background: url(../img/flow/bg-flow.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/*
------------------------------------------------------------*/
.p-flow1-list {
  padding-top: 23px;
}

.p-flow1-list__item {
  margin-top: 22px;
  position: relative;
  padding-left: 80px;
}

.p-flow1-list__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 30px;
}

.p-flow1-list__item h3 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #269eca;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 22px;
}

.p-flow1-list__item h3:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 96px;
  left: -80px;
  top: -14px;
}

.p-flow1-list__img {
  width: 300px;
  height: 200px;
}

.p-flow1-list__img img {
  width: 100%;
  height: 100%;
}

.p-flow1-list__text {
  width: 65.625%;
  padding-left: 30px;
  margin-top: -4px;
}

.p-flow1-list__text p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  line-height: 1.7;
}

.p-flow1-list__item:nth-child(1) h3:after {
  background: url(../img/flow/step01.png) no-repeat;
}

.p-flow1-list__item:nth-child(2) h3:after {
  background: url(../img/flow/step02.png) no-repeat;
}

.p-flow1-list__item:nth-child(3) h3:after {
  background: url(../img/flow/step03.png) no-repeat;
}

.p-flow1-list__item:nth-child(4) h3:after {
  background: url(../img/flow/step04.png) no-repeat;
}

.p-flow1-list__item:nth-child(5) h3:after {
  background: url(../img/flow/step05.png) no-repeat;
}

/*------------------------------------------------------------
Policy page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-policy {
  min-width: 960px;
  padding-bottom: 20px;
}

.p-policy .c-titleMain {
  background: url(../img/policy/bg-policy.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/*
------------------------------------------------------------*/
.p-policy1 .c-text1 {
  margin-top: 25px;
}

/*
------------------------------------------------------------*/
.p-policy1-imgtext__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  margin-bottom: 60px;
}

.p-policy1-imgtext__text {
  background-color: #e0f4fc;
  height: 320px;
  width: 400px;
  margin-left: -40px;
  padding: 36px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.p-policy1-imgtext__text h3 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #269eca;
  font-size: 20px;
  font-weight: bold;
}

.p-policy1-imgtext__text p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  margin-top: 15px;
  line-height: 2;
}

.p-policy1-imgtext--textLeft .p-policy1-imgtext__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-policy1-imgtext--textLeft .p-policy1-imgtext__text {
  margin-left: 0;
  margin-right: -40px;
}

/*------------------------------------------------------------
Contact page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-contact {
  min-width: 960px;
  padding-bottom: 28px;
}

.p-contact .c-titleMain {
  background: url(../img/contact/bg-contact.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/*
------------------------------------------------------------*/
.p-contact1 .c-text1 {
  margin-top: 26px;
}

.p-contact1-form {
  width: 700px;
  margin: 0 auto;
  margin-top: 43px;
  border-bottom: 1px solid #ddd;
}

.p-contact1-form__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #ddd;
}

.p-contact1-form__table > label {
  width: 490px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: block;
}

.p-contact1-form__table p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  margin-top: -4px;
  padding-bottom: 5px;
}

.p-contact1-form dl {
  padding: 16px 20px 31px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e0f4fc;
}

.p-contact1-form dd {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.p-contact1-form dt {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 11px;
  background-color: #cf3d3d;
  padding: 0 5px;
  height: 14px;
  line-height: 14px;
  margin-top: 4px;
}

.p-contact1-form dt.u-bg {
  background-color: #999;
}

.p-contact1-form input, .p-contact1-form select {
  height: 29px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
}

.p-contact1-form select {
  width: 150px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/contact/icon-sl.png) no-repeat 98% 50%;
}

.p-contact1-form input.w420px {
  width: 420px;
}

.p-contact1-form input.w150px {
  width: 150px;
}

.p-contact1-form input::-webkit-input-placeholder {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #999;
  font-size: 14px;
}

.p-contact1-form input::-moz-placeholder {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #999;
  font-size: 14px;
}

.p-contact1-form input:-ms-input-placeholder {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #999;
  font-size: 14px;
}

.p-contact1-form input::placeholder {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #999;
  font-size: 14px;
}

.p-contact1-form textarea {
  height: 138px;
  width: 415px;
  border: 1px solid #ddd;
}
