/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-breadcrumb {
    padding: 30px 10px 40px 0;
    ul {
        display: flex;
    }
    li {
        line-height: 1;
        @include styleText(#333, 12px);
        &:after {
            content: ">";
            margin: 0 5px;
            font-size: 12px;
        }
        &:last-child:after {
            content: '';
        }
    }
    a {
        @include styleText(#006699, 12px);
    }
}
