/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
    background-color: #269eca;
    min-width: 960px;
    .l-container {
        display: flex;
        padding: 40px 0 32px;
    }
    .c-copyright {
        background-color: #fff;
        text-align: center;
        @include styleText(#666, 12px);
        padding: 17px 0;
        letter-spacing: 0.5px;
    }

    //------------------------------------------------------
    &__logo p {
        @include styleText(#fff, 12px);
        padding-top: 18px;
    }
    &__link {
        margin: 0 51px 0 43px;
        width: 180px;
    }

    //------------------------------------------------------
    &__email {
        background-color: #fff;
        text-align: center;
        &:hover {
            background-color: #36c1ac;
            a,img:hover{
                opacity: 1;
            }
        }
        a {
            display: block;
            padding: 8.5px 10px;
        }
    }

    //------------------------------------------------------
    &__phone {
        border: 1px solid #68bbda;
        text-align: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
        position: relative;
        margin-top: 3px;
        &:after {
            position: absolute;
            content: "";
            background: url(../img/common/icon-phone.png) no-repeat;
            width: 20px;
            height: 20px;
            top: 9px;
            left: 20px;
        }
        a {
            font-family: Arial, sans-serif;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            padding: 7px 0 7px 20px;
            display: block;
        }
    }

    //------------------------------------------------------
    &__menu {
        width: 210px;
        li {
            width: 50%;
            float: left;
        }
        a {
            @include styleText(#fff, 13px);
            text-decoration: none;
            display: block;
            position: relative;
            line-height: 1;
            margin-bottom: 8px;
            &:before {
                position: absolute;
                content: "";
                width: 7px;
                height: 10px;
                background: url(../img/common/icon-navi.png) no-repeat;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    //------------------------------------------------------
    .back-top01 {
        position: absolute;
    }
    .back-top {
        margin-left: 565px;
        position: fixed;
        border: 3px solid #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: none;
        bottom: 120px;
        left: 50%;
        background: #269eca url(../img/common/icon-backtop.png) center center no-repeat;
        transform: translateX(-50%);
        z-index: 10000;
        cursor: pointer;
    }
}
