/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-head {
    width: 5%;
    min-width: 220px;
    max-width: 220px;
    background-color: #1085b0;
    h1 {
        background-color: #fff;
        padding: 16px 20px 20px;
        p {
            @include styleText(#333, 11px);
            border-bottom: 1px solid #1085b0;
            padding-bottom: 16px;
            margin-bottom: 20px;
            line-height: 1.6;
        }
    }
}

/* Navigation page
------------------------------------------------------------*/
.c-gnavi {
    text-align: center;
    padding-bottom: 446px;
    padding-top: 20px;
    a {
        display: block;
        padding: 15px;
        &:hover {
            background-color: #269eca;
        }
    }
    li.is-active {
        background-color: #269eca;
    }
}

/* 
------------------------------------------------------------*/
.c-link {
    background-color: #269eca;
    padding: 0 20px 20px;
    $link:&;
    p { padding-top: 20px; }

    //------------------------------------------------------
    &__email {
        background-color: #fff;
        text-align: center;
        margin-top: 20px;
        &:hover {
            background-color: #36c1ac;
            a,img:hover{
                opacity: 1;
            }
        }
        a {
            display: block;
            padding: 15px 0;
        }
    }

    //------------------------------------------------------
    &__phone {
        border: 1px solid #68bbda;
        text-align: center;
        font-weight: bold;
        position: relative;
        margin-top: 10px;
        &:after {
            position: absolute;
            content: "";
            background: url(../img/common/icon-phone.png) no-repeat;
            width: 20px;
            height: 20px;
            top: 13px;
            left: 20px;
        }
        a {
            font-family: Arial, sans-serif;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
            padding: 13px 0 13px 20px;
        }
    }

    //------------------------------------------------------
    &--flow {
        display: flex;
        height: 102px;
        padding: 0 15px;
        align-items: center;
        margin-top: 24px;
        #{$link}__email, #{$link}__phone {
            margin: 0;
            width: 50%;
            margin: 0 5px;
            a {
                height: 60px;
                padding: 0;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }

        //------------------------------------------------------
        #{$link}__phone:after {
            left: 43px;
        }
    }
}