/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container {
    width: 960px;
    margin: 0 auto;
    min-width: 960px;
}

/*
------------------------------------------------------------*/
.l-wrapper {
    display: flex;
}

/*
------------------------------------------------------------*/
.l-main {
    width: 95%;
}
