body {
	--background-color-2: #282faf;
	background-color: #363dc2;
}
main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}
.content-wrap {
	width: 100%;
	height: 100vh;
}
.changepath {
	transition: 0.6s all cubic-bezier(0.29, 0.01, 0.24, 0.99);
}

/*Set height elemnt*/
/*#heightScmor {
	height: 3500px;
	background-color: #fff;
}*/