.l-container {
  width: 960px;
  margin: 0 auto; }

.l-layout {
  padding-top: 70px; }

.scrollTop {
  text-align: center; }
  .scrollTop button {
    background-color: #cccdcc;
    text-align: center;
    cursor: pointer; }

.c-table {
  width: 100%;
  margin-top: 80px; }
  .c-table th, .c-table td {
    border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  background: #fff; }

.example01 {
  margin-top: 80px; }

.example02 .c-head {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.2s all ease; }
  .example02 .c-head h1 {
    color: red; }
  .example02 .c-head__example02 {
    position: absolute;
    top: 0;
    left: 0;
    background: #00a0e9;
    width: 0;
    height: 5px;
    transition: 0.3s all ease-out; }
.example02 .c-heightElemnt {
  margin-top: 120px; }
.example02 .c-footer {
  background-color: #00a0e9;
  padding-top: 80px;
  margin-top: 1500px;
  position: relative;
  z-index: -2; }
  .example02 .c-footer:after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    z-index: -1; }
.example02 .c-fixed {
  opacity: 1;
  position: fixed;
  background-color: #fff;
  transition: 0.5s all ease;
  animation: headerAnimate 0.3s ease-out; }
  .example02 .c-fixed h1 {
    color: #00a0e9; }

@keyframes headerAnimate {
  0% {
    transform: translateY(-70px); }
  100% {
    transform: translateY(0); } }
.example03 .c-head03 {
  height: 70px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.2s all ease;
  flex-direction: column; }
  .example03 .c-head03__inner {
    height: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .example03 .c-head03 h1 {
    color: red;
    transform: translateY(15px);
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .example03 .c-head03 .iconwater03 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    visibility: hidden;
    z-index: 1000; }
  .example03 .c-head03 .titleAnimate03 {
    display: none; }
  .example03 .c-head03__scrollbar {
    width: 0;
    border-top: 5px solid #00a0e9; }
  .example03 .c-head03__item {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .example03 .c-head03__item-icon1 {
      width: 50%; }
      .example03 .c-head03__item-icon1--right {
        transform: rotate(180deg); }
        .example03 .c-head03__item-icon1--right .c-head1__scrollbar {
          border-top: 0;
          border-bottom: 5px solid #00a0e9; }
.example03 .scrollTop {
  margin-top: 180px; }
.example03 .c-bg .c-head03__inner {
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #c8dee6;
  height: 100%; }
.example03 .c-bg h1 {
  color: #00a0e9;
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
.example03 .ftanimate .c-footer:after {
  transition: 0.15s all ease-out;
  top: -70px; }
.example03 .c-footer {
  background-color: #00a0e9;
  padding-top: 80px;
  margin-top: 1500px;
  position: relative;
  z-index: -2; }
  .example03 .c-footer:after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    z-index: -1; }

.animation {
  animation: scrollTopPage 1.2s ease-in-out; }

@keyframes scrollTopPage {
  0% {
    transform: translateY(-25px); }
  100% {
    transform: translateY(0); } }
.example04 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .example04 svg {
    width: 30%; }

.container {
  height: 3500px; }

/*# sourceMappingURL=style.css.map */
