/*------------------------------------------------------------
Business page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-business {
    min-width: 960px;
    padding-bottom: 40px;

    //------------------------------------------------------
    .c-titleMain {
        background: url(../img/business/bg-business.jpg) no-repeat;
        background-size: cover;
    }
}

.p-business1 {
    //------------------------------------------------------
    .c-title2 {
        margin-bottom: 28px;
    }
}

.p-business1-list {
    //------------------------------------------------------
    &__item {
        display: flex;
        margin-bottom: 40px;
        position: relative;
    }

    //------------------------------------------------------
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    
    //------------------------------------------------------
    &__img {
        width: 360px;
        height: 240px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    //------------------------------------------------------
    &__text {
        margin-left: 30px;
        width: 570px;
        h4 {
            @include styleText(#269eca, 20px);
            font-weight: bold;
            line-height: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            @include styleText(#333, 14px);
            margin-top: 16px;
            line-height: 1.75;
        }
    }
}