/*------------------------------------------------------------
Company page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-company {
    min-width: 960px;
    padding-bottom: 48px;

    //------------------------------------------------------
    .c-titleMain {
        background: url(../img/company/bg-company.jpg) no-repeat;
        background-size: cover;
    }
}

/*
------------------------------------------------------------*/
.p-company1-info {
    width: 700px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    margin-top: 30px;

    //------------------------------------------------------
    &__item {
        display: flex;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        span {
            width: 180px;
            box-sizing: border-box;
            background-color: #e0f4fc;
            @include styleText(#333, 14px);
            padding: 20px 20px 11px;
            display: block;
        }
        p {
            box-sizing: border-box;
            @include styleText(#333, 14px);
            width: 520px;
            padding: 20px 20px 10px;
        }
    }
}

.p-company2 {
    margin-top: 108px;
    .c-map {
        margin: 30px 0;
    }
}