/*------------------------------------------------------------
Contact page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-contact {
    min-width: 960px;
    padding-bottom: 28px;

    //------------------------------------------------------
    .c-titleMain {
        background: url(../img/contact/bg-contact.jpg) no-repeat;
        background-size: cover;
    }
}

/*
------------------------------------------------------------*/
.p-contact1 {

    //------------------------------------------------------
    .c-text1 {
        margin-top: 26px;
    }
}

.p-contact1-form {
    width: 700px;
    margin: 0 auto;
    margin-top: 43px;
    border-bottom: 1px solid #ddd;
    &__table {
        display: flex;
        border-top: 1px solid #ddd;
        & > label {
            width: 490px;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
            display: block;
        }
        p {
            @include styleText(#333, 14px);
            margin-top: -4px;
            padding-bottom: 5px;
        }
    }
    dl {
        padding: 16px 20px 31px;
        width: 210px;
        display: flex;
        justify-content: space-between;
        background-color: #e0f4fc;
    }
    dd {
        @include styleText(#333, 14px);
    }
    dt {
        @include styleText(#fff, 11px);
        background-color: #cf3d3d;
        padding: 0 5px;
        height: 14px;
        line-height: 14px;
        margin-top: 4px;
    }
    dt.u-bg {
        background-color: #999;
    }
    input, select {
        height: 29px;
        padding-left: 10px;
        margin-bottom: 10px;
        @include styleText(#333, 14px);
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    select {
        width: 150px;
        appearance: none;
        background: url(../img/contact/icon-sl.png) no-repeat 98% 50%;
    }
    input.w420px {
        width: 420px;
    }
    input.w150px {
        width: 150px;
    }
    input::placeholder { 
        @include styleText(#999, 14px);
    }
    textarea {
        height: 138px;
        width: 415px;
        border: 1px solid #ddd;
    }
}