/*------------------------------------------------------------
Works page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-flow {
    min-width: 960px;
    padding-bottom: 82px;

    //------------------------------------------------------
    .c-titleMain {
        background: url(../img/flow/bg-flow.jpg) no-repeat;
        background-size: cover;
    }
}

/*
------------------------------------------------------------*/
.p-flow1-list {
    padding-top: 23px;

    //------------------------------------------------------
    &__item {
        margin-top: 22px;
        position: relative;
        padding-left: 80px;
        & > div {
            display: flex;
            border-bottom: 1px dotted #ccc;
            padding-bottom: 30px;
        }
        h3 {
            @include styleText(#269eca, 20px);
            font-weight: bold;
            position: relative;
            margin-bottom: 22px;
            &:after {
                position: absolute;
                content: "";
                width: 60px;
                height: 96px;
                left: -80px;
                top: -14px;
            }
        }
    }

    //------------------------------------------------------
    &__img {
        width: 300px;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    //------------------------------------------------------
    &__text {
        width: 65.625%;
        padding-left: 30px;
        margin-top: -4px;
        p {
            @include styleText(#333, 14px);
            line-height: 1.7;
        }
    }
}

@for $i from 1 through 5 {
    .p-flow1-list__item:nth-child(#{$i}) h3:after {
        background: url(../img/flow/step0#{$i}.png) no-repeat;
    }
}