/*------------------------------------------------------------
Top page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-index {
    min-width: 960px;
    margin-bottom: 10px;

    //------------------------------------------------------
    &__banner {
        background: url(../img/index/bg-index.jpg) no-repeat;
        background-size: cover;
        position: relative;
        min-height: 1020px;
        display: flex;
        h2 {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    //------------------------------------------------------
    &__scroll {
        position: absolute;
        content: "";
        width: 34px;
        height: 39px;
        left: 50%;
        bottom: 35px;
        transform: translateX(-50%);
    }
}

/*
------------------------------------------------------------*/
.c-news {
    display: flex;
    align-items: center;

    //------------------------------------------------------
    &__text {
        background-color: #1085b0;
        padding-right: 40px;
        height: 45px;
        display: flex;
        align-items: center;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            height: 45px;
            width: 30px;
            background-color: #fff;
            right: -15px;
            transform: skew(-30deg);
            top: 0;
        }
        &:before {
            position: absolute;
            content: "";
            height: 45px;
            width: 1000px;
            background-color: #1085b0;
            left: -1000px;
            z-index: -1;
            top: 0;
        }
    }
    ul {
        position: relative;
        width: 100%;
        height: 45px;
        margin-left: 10px;
        background-color: #fff;
        overflow: hidden;
    }
    li {
        opacity: 0;
        position: absolute;
        width: 70%;
        height: 100%;
        top: 12px;
        span {
            display: inline-block;
            margin-right: 20px;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    a {
        @include styleText(#333, 14px);
        text-decoration: none;
        display: flex;
    }
}

/* 
------------------------------------------------------------*/
.p-index-about {
    overflow: hidden;
    //------------------------------------------------------
    &__title {
        background: url(../img/index/bg01.png) no-repeat;
        padding: 50px 0;
        background-size: cover;
        text-align: center;
    }

    //------------------------------------------------------
    &__imgtext {
        display: flex;
        justify-content: center;
        transform: skew(-19deg);
    }
    
    //------------------------------------------------------
    &__imgtextLeft {
        background-color: #2aa4d1;
        display: flex;
        width: 50%;
        justify-content: flex-end;
        padding: 40px 67px 52px 50px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            border-left: 50px solid #2aa4d1;
            height: 100%;
            left: 0;
            top: 0;
            transform: skew(19deg);
            z-index: -1;
        }
    }

    //------------------------------------------------------
    &__imgtextRight {
        background-color: #1085b0;
        display: flex;
        width: 50%;
        justify-content: flex-start;
        padding: 40px 50px 52px 67px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            border-left: 50px solid #1085b0;
            height: 100%;
            right: 0;
            top: 0;
            transform: skew(19deg);
            z-index: -1;
        }
    }

    //------------------------------------------------------
    &__img {
        transform: skew(19deg);
    }

    //------------------------------------------------------
    &__text {
        width: 215px;
        margin-left: 20px;
        transform: skew(19deg);
        h3 {
            @include styleText(#fff, 22px);
            font-weight: bold;
            span {
                font-size: 15px;
            }
        }
        p {
            @include styleText(#fff, 14px);
            padding: 8px 0 13px;
            line-height: 1.72;
        }
        a {
            text-decoration: none;
            @include styleText(#fff, 14px);
            font-size: 14px;
            border: 1px solid #fff;
            width: 215px;
            display: inline-block;
            text-align: center;
            padding: 5px 18px 5px 0;
            position: relative;
            box-sizing: border-box;
            &:after {
                position: absolute;
                content: "";
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                top: 47%;
                right: 80px;
                transform: rotate(-45deg) translateY(-50%);
            }
            &:hover {
                background-color: #fff;
                color: #333;
                opacity: 1;
                &:after {
                    border: solid #36c1ac;
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }
}

/* 
------------------------------------------------------------*/
.p-index-works, .p-index-flow, .p-index-policy{margin-top: 10px;}

.c-bgtext {
    display: flex;
    justify-content: center;
    $root:&;
    
    //------------------------------------------------------
    &__left {
        background: url(../img/index/bg03.png) no-repeat;
        background-size: cover;
        width: 60%;
        margin-right: -10%;
        padding: 50px 0;
    }

    //------------------------------------------------------
    &__right {
        background: url(../img/index/bg02.png) no-repeat;
        background-size: cover;
        width: 54.5%;
        margin-left: -4.5%;
        padding: 48px 0;
    }

    //------------------------------------------------------
    &__text {
        margin-left: 8%;
        padding-left: 70px;
        padding-right: 10px;
        box-sizing: border-box;
        p {
            @include styleText(#fff, 14px);
            padding: 25px 0;
            line-height: 1.72;
            width: 100%;
            max-width: 420px;
        }
        a {
            text-decoration: none;
            @include styleText(#fff, 14px);
            font-size: 14px;
            border: 1px solid #fff;
            display: inline-block;
            text-align: center;
            padding: 10px 18px 10px 0;
            width: 215px;
            position: relative;
            box-sizing: border-box;
            &:after {
                position: absolute;
                content: "";
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                top: 47%;
                right: 80px;
                transform: rotate(-45deg) translateY(-50%);
            }
            &:hover {
                background-color: #fff;
                color: #333;
                opacity: 1;
                &:after {
                    border: solid #36c1ac;
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }

    // custom section flow
    //------------------------------------------------------
    &--flow {
        
        //------------------------------------------------------
        #{$root}__left {
            margin-right: 0;
            margin-left: -4.5%;
            background: url(../img/index/bg04.png) no-repeat;
            background-size: cover;
            width: 54.5%;
        }

        //------------------------------------------------------
        #{$root}__right {
            background: url(../img/index/bg05.png) no-repeat;
            background-size: cover;
            margin-left: 0;
            margin-right: -12%;
            width: 62%;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 75px;
        }

        //------------------------------------------------------
        #{$root}__text {
            width: auto;
            margin-right: 18%;
            padding-left: 10px;
            margin-left: 0;
            padding-right: 75px; 
        }
    }

    // custom section policy
    //------------------------------------------------------
    &--policy {
        #{$root}__left {
            background: url(../img/index/bg06.png) no-repeat;
            background-size: cover;
        }
    }
}
