/*------------------------------------------------------------
Policy page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-policy {
    min-width: 960px;
    padding-bottom: 20px;

    //------------------------------------------------------
    .c-titleMain {
        background: url(../img/policy/bg-policy.jpg) no-repeat;
        background-size: cover;
    }
}

/*
------------------------------------------------------------*/
.p-policy1 {

    //------------------------------------------------------
    .c-text1 {
        margin-top: 25px;
    }
}

/*
------------------------------------------------------------*/
.p-policy1-imgtext {
    $root:&;

    //------------------------------------------------------
    &__item {
        display: flex;
        align-items: center;
        margin-top: 45px;
        margin-bottom: 60px;
    }

    //------------------------------------------------------
    &__text {
        background-color: #e0f4fc;
        height: 320px;
        width: 400px;
        margin-left: -40px;
        padding: 36px 40px;
        box-sizing: border-box;
        position: relative;
        h3 {
            @include styleText(#269eca, 20px);
            font-weight: bold;
        }
        p {
            @include styleText(#333, 14px);
            margin-top: 15px;
            line-height: 2;
        }
    }

    //------------------------------------------------------
    &--textLeft {
        #{$root}__item {
            flex-direction: row-reverse;
        }
        #{$root}__text {
            margin-left: 0;
            margin-right: -40px;
        }
    }
}
