/*------------------------------------------------------------
Works page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-works {
    min-width: 960px;
    padding-bottom: 80px;

    //------------------------------------------------------
    .c-titleMain {
        background: url(../img/works/bg-works.jpg) no-repeat;
        background-size: cover;
    }
}

/*
------------------------------------------------------------*/
.p-works1-list {

    @include clear;
    //------------------------------------------------------
    &__item {
        text-align: center;
        margin: 30px 30px 0 0;
        position: relative;
        float: left;
    }

    //------------------------------------------------------
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        &:hover {
            background: rgba(255,255,255,0.3);
        }
    }

    //------------------------------------------------------
    &__item:nth-child(3n) {
        margin-right: 0;
    }

    //------------------------------------------------------
    &__img {
        position: relative;
        width: 300px;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
        }
        &:after {
            position: absolute;
            content: "";
            background: url(../img/works/icon-list.png) no-repeat;
            width: 46px;
            height: 46px;
            right: 10px;
            bottom: 10px;
        }
    }

    //------------------------------------------------------
    &__text {
        h3 {
            @include styleText(#fff, 20px);
            font-weight: bold;
            background-color: #269eca;
            padding: 9px 10px;
        }
        p, span {
            @include styleText(#333, 14px);
            background-color: #e0f4fc;
        }
        p {
            padding: 16px 10px;
        }
        span {
            display: block;
        }
    }
}