/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
    text-align: center;
    margin: 65px 0;
    position: relative;
    min-width: 1440px;
    @include sp {
        min-width: 100%;
        padding: 0 3%;
        margin: 10px 0 30px;
    }
    a {
        @include styleText(#fff, 1.8rem, bold);
        background-color: #ff1e5b;
        text-decoration: none;
        padding: 25px 60px 25px 110px;
        border-radius: 50px;
        position: relative;
        @include sp {
            width: 100%;
            max-width: 570px;
            margin: 0 auto;
            padding: 20px 10% 20px 15%;
            display: block;
            box-sizing: border-box;
            font-size: 1.2rem;
        }
        &:before {
            position: absolute;
            content: "";
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 5px;
            top: 49%;
            transform: rotate(-45deg) translateY(-50%);
            left: 60px;
            @include sp {
                left: 12%;
                padding: 3px;
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-btn2 {
    display: flex;
    justify-content: center;
    @include sp {
        display: block;
    }
    a {
        @include styleText(#fff, 1.8rem, bold);
        background-color: rgba(0,0,0,.2);
        text-decoration: none;
        border-radius: 50px;
        width: 420px;
        height: 90px;
        position: relative;
        border: 1px solid #fff;
        margin: 14px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        @include sp {
            width: 100%;
            max-width: 570px;
            margin: 10px auto;
            font-size: 1.4rem;
            height: auto;
            padding: 20px 0;
        }
        span {
            position: relative;
            margin: 0 auto;
            display: inline-block;
            width: 185px;
            @include sp {
                font-size: 1.4rem;
                width: 140px;
            }
            &:before {
                position: absolute;
                content: "";
                background: url(../img/26.png) no-repeat;
                width: 19px;
                height: 20px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                @include sp {
                    width: 15px;
                    height: 15px;
                    background-size: 100%;
                }
            }
        }
        img {
            width: 200px;
            height: 21px;
            margin: 5px auto;
            @include sp {
                width: 130px;
                height: auto;
            }
        }
    }

    // -------------------------------------------------------------------
    &__right {
        p {
            @include styleText(#fff, 1.3rem, normal);
            line-height: 1.6;
            @include sp {
                font-size: 1rem;
            }
        }
        a {
            padding-left: 22px;
            font-size: 1.5rem;
            font-weight: normal;
            @include sp {
                padding: 5px 0;
            }
            
        }
        span {
            width: 250px !important;
            @include sp {
                width: 135px !important;
            }
            &:before {
                background: url(../img/27.png) no-repeat !important;
                @include sp {
                    width: 18px !important;;
                    height: 18px !important;;
                    background-size: 100% !important;
                    left: -25px !important;
                }
            }
        }
        a:before {
            @include sp {
                width: 10px;
                height: 10px;
                background-size: 100%;
                left: 30%;
                top: 70%;
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-btn3 {
    text-align: center;
    a {
        width: 480px;
        height: 90px;
        display: flex;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 40px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        @include sp {
            width: 100%;
            max-width: 480px;
            padding: 3% 5%;
            border-radius: 45px;
            height: auto;
        }
    }
}