/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
    text-align: center;
    @include sp {
        padding: 0 10%;
    }
}