/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-navi1 {
    background: url(../img/19.png) no-repeat;
    padding: 60px 0 85px;
    background-size: cover;
    position: relative;
    min-width: 1440px;
    @include sp{
        padding: 0 0 10px 0;
        min-width: 100%;
        background: url(../img/19.png) 0px 40px no-repeat;
        background-size: cover;
    }
    ul {
        margin: 0 auto;
        display: flex;
        width: 1460px;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        @include sp {
            width: 100%;
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 2%;
        }
        li {
            @include sp {
                width: 48%;
                margin: 20px 1%;
            }
        }
        li:first-child {
            @include sp {
                width: 100%;
                margin: 0 2%;
            }
        }
    }

    // -------------------------------------------------------------------
    &__campaign {
        background: url(../img/16.png) no-repeat;
        padding: 133px 0 913px 66px;
        position: absolute;
        top: -295px;
        width: 586px;
        display: inline-block;
        @include sp {
            position: static;
            background: url(../img/16sp.png) no-repeat;
            background-size: cover;
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20% 15%;
            margin-top: -7%;
        }
        img {
            margin-bottom: 17px;
            @include sp {
                padding: 0 10%;
            }
        }
        p {
            @include styleText(#fff, 3rem, 150);
            padding: 0 52px;
            position: relative;
            @include sp {
                padding: 0 45px;
                font-size: 1.6rem;
                display: inline-block;
            }
            &:before {
                position: absolute;
                content: "";
                background: url(../img/18.png) no-repeat;
                width: 34px;
                height: 30px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-navi2 {
    text-align: center;
    h4 {
        background-color: #10222b;
        @include styleText(#fff, 2rem, normal);
        line-height: 1;
        padding: 15px 0;
        margin-top: 50px;
        @include sp {
            margin-top: 30px;
            font-size: 1.6rem;
        }
    }
    ul {
        padding: 32px 0 27px;
        display: flex;
        justify-content: center;
        border: 1px solid #c8c8c8;
        border-top: 0;
        @include sp {
            padding: 20px 10px;
            border: 0;
        }
        span {
            @include styleText(#fff, 2.1rem, bold);
            line-height: 1;
            height: 60px;
            width: 170px;
            background: linear-gradient(to right, #51d2a0 , #01a6de);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include sp {
                width: 100%;
                font-size: 1.3rem;
                height: 30px;
            }
            &:after {
                position: absolute;
                content: "";
                border-right: 10px solid #fff;
                border-left: 20px solid #01a6de;
                border-top: 30px solid #fff;
                border-bottom: 30px solid #fff;
                right: -30px;
                top: 0;
                @include sp {
                    content: none;
                }
            }
        }
        li {
            margin: 0 40px;
            display: flex;
            @include sp {
                display: block;
                text-align: center;
                margin: 0 2%;
                width: 48%;
            }
        }
        p {
            @include styleText(#404040, 3.2rem, bold);
            font-style: italic;
            padding: 5px 40px 0 25px;
            margin-right: 12px;
            position: relative;
            @include sp {
                text-align: center;
                margin-right: 0;
                padding: 5px 0;
                font-size: 2rem;
            }
            &:after {
                position: absolute;
                content: "";
                background: url(../img/20.png) no-repeat;
                width: 31px;
                height: 30px;
                right: 0;
                top: 50%;
                transform: translateY(-65%);
                @include sp {
                    transform: none;
                    top: 150%;
                    right: auto;
                    left: 10%;
                    background-size: 100%;
                    width: 15px;
                    height: 15px;
                }
            }
            &:before {
                position: absolute;
                content: "";
                border-top: 1px solid #ff1e5b;
                width: 75%;
                top: 45%;
                transform: translate(-50%, -50%) rotate(-10deg);
                left: 50%;
                @include sp {
                    width: 100px;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-10deg);
                }
            }
        }
        small {
            font-size: 1.5rem;
            @include sp {
                font-size: 1rem;
            }
        }
        img {
            height: 62px;
            @include sp {
                width: 50%;
                height: auto;
                max-width: 80px;
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-navi3 {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-wrap: wrap;
    }
    li {
        width: 272px;
        height: 204px;
        @include sp {
            width: 48%;
            margin: 2% 0;
            height: auto;
        }
        img {
            width: 100%;
        }
    }
}