/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtext1 {
    display: flex;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    width: 1000px;
    margin: 0 auto;
    @include sp {
        width: 100%;
        display: block;
        padding: 15px;
    }

    // -------------------------------------------------------------------
    &__img {
        margin-right: 30px;
        @include sp {
            margin-right: 0;
            text-align: center;
        }
    }

    // -------------------------------------------------------------------
    &__text {
        span {
            @include styleText($color1, 1.8rem, bold);
            display: block;
            padding: 5px 0 10px;
            @include sp {
                text-align: center;
                font-size: 1.6rem;
                padding: 15px 0 12px;
            }
        }
        p {
            @include styleText($color1, 1.5rem, normal);
        }
        ul {
            background-color: #f0f0f0;
            padding: 20px 30px;
            margin-top: 15px;
            @include sp {
                margin-top: 30px;
                padding: 10px 15px;
            }
        }
        li {
            position: relative;
            @include styleText($color1, 1.5rem, normal);
            padding: 5px 0 5px 20px;
            @include sp {
                font-size: 1.2rem;
                padding-left: 15px;
            }
            &:before {
                position: absolute;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #33c49d;
                left: 0;
                top: 13px;
                @include sp {
                    top: 11px;
                }
            }
        }
    }
}