/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1 {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #c8c8c8;
    $root: &;
    @include sp {
        border: 0;
    }
    th {
        @include styleText(#dbdedf, 2rem, normal);
        background-color: #10222b;
        width: 100%;
        padding: 14px 0;
    }
    td {
        @include styleText($color1, 1.5rem, bold);
        text-align: center;
        border: 1px solid #c8c8c8;
        padding: 15px 30px;
        width: 285px;
        span {
            display: inline-block;
            line-height: 1.3;
            font-weight: normal;
        }
        strong {
            display: block;
            color: #ff1e5b;
            line-height: 1.72;
        }
    }
    td:first-child {
        border: 0;
        border-top: 1px solid #c8c8c8;
        text-align: left;
        width: 587px;
        @include sp {
            width: auto;
        }
        p {
            width: 230px;
            float: left;
        }
    }
    tr:nth-child(even) {
        background-color: #f8f8f8;
    }

    // -------------------------------------------------------------------
    &__text {
        .l-wrap {
            display: flex;
            margin-top: 20px;
            @include sp {
                display: block;
                margin-top: 15px;
            }
        }
        span {
            background-color: #33c49d;
            display: inline-block;
            padding: 5px 19px;
            @include styleText(#fff, 1.5rem, bold);
            margin-right: 10px;
            @include sp {
                padding: 10px 0;
                display: block;
                margin: 10px 0 10px 0;
                font-size: 1.3rem;
            }
        }
        p {
            @include styleText($color1, 1.5rem, normal);
            margin-right: 20px;
            @include sp {
                margin-right: 0;
                text-align: center;
                font-size: 1.2rem;
            }
        }

        // -------------------------------------------------------------------
        &--bg {
            background-color: #0080ae !important;
        }
    }

    // -------------------------------------------------------------------
    &--remove {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            border-top: 1px solid #ff1e5b;
            width: 55%;
            top: 15px;
            transform: rotate(-6deg) translateX(-50%);
            left: 50%;
            @include sp {
                top: 26px;
                width: 130px;
            }
        }
    }

    // custom SP table
    // -------------------------------------------------------------------
    &__title {
        @include styleText(#dbdedf, 2rem, normal);
        background-color: #10222b;
        text-align: center;
        padding: 10px 0;
        line-height: 1;
        @include sp {
            font-size: 1.6rem;
            padding: 15px 0;
        }
    }

    // -------------------------------------------------------------------
    &__item {
        margin-bottom: 15px;
        h4 {
            @include styleText($color1, 1.8rem, bold);
            border: 1px solid #c8c8c8;
            padding: 20px 15px;
            margin-bottom: 15px;
            position: relative;
            display: flex;
            align-items: center;
            &:after {
                position: absolute;
                content: "";
                width: 20px;
                height: 1px;
                background-color: #0080ae;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:before {
                position: absolute;
                content: "";
                width: 1px;
                height: 20px;
                background-color: #0080ae;
                right: 29.5px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s all ease;
            }
            span {
                @include styleText(#999, 1rem, normal);
                display: inline-block;
                margin-left: 30px;
            }
        }
        // -------------------------------------------------------------------
        &.is-active {
            h4 {
                &:before {
                    transition: 0.2s all ease;
                    top: 35%;
                    transform: rotate(90deg);
                }
            }
        }
    }

    // -------------------------------------------------------------------
    &__itemhide {
        & > div {
            display: flex;
            margin: 0 15px;
            border: 1px solid #c8c8c8;
            border-top: 0;
            border-bottom: 0;
            &:last-child {
                border-bottom: 1px solid #c8c8c8;
            }
        }
        strong {
            display: block;
            color: #ff1e5b;
            line-height: 1.4;
        }

        // -------------------------------------------------------------------
        #{$root}--remove {
            &:before {
                left: 15px;
                transform: rotate(-6deg);
            }
        }
        p {
            @include styleText($color1, 1.2rem, bold);
            width: 40%;
            background-color: #fbfbfb;
            border-right: 1px solid #c8c8c8;
            border-top: 1px solid #c8c8c8;
            padding: 18px 15px;
        }
        span {
            @include styleText($color1, 1.2rem, normal);
            display: block;
            padding: 18px 15px;
            border-top: 1px solid #c8c8c8;
            width: 60%;
        }
    }
}