/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* contact page
------------------------------------------------------------*/
.c-contact {
    background: url(../img/21.png) no-repeat center top;
    background-size: cover;
    text-align: center;
    padding: 160px 0 190px;
    min-width: 1440px;
    @include sp {
        background: url(../img/21sp.png) no-repeat center;
        background-size: 100% 100%;
        padding: 70px 0 56.25%;
        min-width: 100%;
    }
    h4 {
        @include styleText(#fff, 3.2rem, normal);
        @include sp {
            font-size: 1.6rem;
        }
    }
    h3 {
        @include styleText(#fff, 4.8rem, normal);
        line-height: 1;
        padding: 22px 0;
        @include sp {
            font-size: 2.8rem;
            padding: 25px 0;
        }
        img {
            margin-right: 15px;
            margin-top: -3px;
            @include sp {
                margin: 0 auto 15px;
                width: 50%;
            }
        }
        span {
            @include sp {
                display: block;
            }
        }
    }

    // -------------------------------------------------------------------
    &__txt {
        @include styleText(#fff, 1.8rem, normal);
        margin: 35px 0 10px;
        @include sp {
            font-size: 1.2rem;
            margin: 0 30px 25px;
        }
    }
}

/* Map page
------------------------------------------------------------*/
.l-map {
    background: url(../img/29.png) 93% 95px no-repeat;
    min-width: 1440px;
    @include sp {
        background: 0;
        min-width: 100%;
    }
}
.c-map {
    display: flex;
    justify-content: center;
    min-width: 1440px;
    width: 100%;
    position: relative;
    @include sp {
        display: block;
        min-width: 100%;
        width: auto;
    }

    // -------------------------------------------------------------------
    &__title {
        @include styleText($color1, 5.6rem, 150);
        line-height: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-730px);
        @include sp {
            position: static;
            padding-bottom: 25px;
            margin-right: 0;
            text-align: center;
            font-size: 2.8rem;
            transform: translateX(0);
        }
    }
    
    // -------------------------------------------------------------------
    &__img {
        width: 100%;
        iframe {
            height: 590px;
            padding-top: 110px;
            @include sp {
                height: 300px;
                padding-top: 0;
            }
        }
    }

    // -------------------------------------------------------------------
    &__info {
        margin-left: 40px;
        width: 66%;
        height: 420px;
        background-color: #10222b;
        padding: 85px 60px;
        margin-top: 15px;
        @include sp {
            width: 100%;
            margin-left: 0;
            margin-top: -3px;
            height: auto;
            padding: 15px 15px;
        }
        dl {
            display: flex;
            border-bottom: 1px solid #636f75;
            width: 480px;
            padding: 7.5px 0;
            @include sp {
                width: 100%;
                text-align: center;
                display: block;
                padding-bottom: 15px;
            }
            img {
                margin: 4px 5px 0 0;
            }
        }
        dl:last-child {
            border-bottom: 0;
        }
        dt, dd {
            @include styleText(#fff, 1.5rem, bold);
            line-height: 1.5;
            @include sp {
                font-size: 1.4rem;
            }
        }
        dd {
            width: 160px;
            @include sp {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

}

/* Information
------------------------------------------------------------*/
.c-infor {
    background-color: #eee;
    padding: 105px 0 95px;
    margin-top: 90px;
    min-width: 1440px;
    @include sp {
        margin-top: 40px;
        padding: 40px 0;
        min-width: 100%;
    }
    img {
        @include sp {
            width: 70%;
        }
    }
    span {
        display: block;
        @include styleText(#666, 3.2rem, normal);
        padding: 4px 0;
        @include sp {
            font-size: 1.6rem;
        }
    }
    p {
        @include styleText(#404040, 1.5rem, normal);
        margin-top: 45px;
        text-align: center;
        @include sp {
            font-size: 1.2rem;
            line-height: 1.8;
            margin-top: 10px;
        }
    }
}