/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
    margin: 40px 0;
    &:hover {
        opacity: 0.7;
    }
    a {
        @include styleText(#fff, 15px);
        font-weight: bold;
        display: block;
        width: 270px;
        height: 50px;
        background-color: #269eca;
        justify-content: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            right: 43px;
            top: 22px;
            transform: rotate(-45deg);
        }
        &:after {
            position: absolute;
            content: "";
            top: 21px;
            background: url(../img/common/icon-btn.png) no-repeat;
            width: 19px;
            height: 13px;
            left: 40px;
            top: 18px;
        }
    }

    //------------------------------------------------------
    &--contact {
        margin: 52px 0;
        text-align: center;
        button {
            margin: 0 auto;
            width: 180px;
            height: 50px;
            box-sizing: border-box;
            background-color: #269eca;
            padding-right: 25px;
            border: 0;
            @include styleText(#fff, 15px);
            font-weight: bold;
            cursor: pointer;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                right: 43px;
                top: 22px;
                transform: rotate(-45deg);
            }
        }
    }
}