/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-titleMain {
    height: 300px;
    display: flex;
    position: relative;
    h2 {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/*
------------------------------------------------------------*/
.c-title2 {
    position: relative;
    text-align: center;
    margin-top: 30px;
    &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 4px;
        background-color: #269eca;
        left: 50%;
        transform: translateX(-50%);
        top: -26px;
    }
    h2 {
        @include styleText(#333, 24px);
        font-weight: bold;
    }
}