/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1 {
    text-align: center;
    @include styleText(#333, 14px);
    line-height: 1.7;
}