/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-map {
    &__info {
        margin-top: 22px;
        li {
            margin-bottom: 5px;
            @include styleText(#333, 14px);
            position: relative;
        }
        li:not(:first-child) {
            padding-left: 25px;
        }
        li:not(:first-child):after {
            content:'';
            position: absolute;
            width: 15px;
            height: 17px;
            background: url(../img/common/icon-map.png) no-repeat;
            left: 0;
            top: 0;
        }
    }
}