/*------------------------------------------------------------
Top page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-index1 {
    padding: 125px 0 128px;
    @include sp {
        padding: 50px 0;
    }
}

/*
------------------------------------------------------------*/
.p-index2 {
    margin-top: -10px;
    @include sp {
        padding: 50px 0 0;
        margin-top: 0;
    }
    .c-title1 {
        margin-bottom: 47px;
        @include sp {
            margin-bottom: 30px;
        }
    }
}

/*
------------------------------------------------------------*/
.p-index3 {
    padding: 120px 0 124px;
    @include sp {
        padding: 50px 0;
    }
    .c-title1 {
        margin-bottom: 50px;
        @include sp {
            margin-bottom: 30px;
        }
    }
}