@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-head {
  background: url(../img/01.jpg) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  height: 800px;
  position: relative;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .c-head {
    min-width: 320px;
    background: url(../img/01sp.jpg) no-repeat center top;
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
    padding-bottom: 120%;
  }
}

.c-head__logo {
  position: absolute;
  right: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .c-head__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-head__inner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-head__inner {
    width: 50%;
    background-color: rgba(0, 128, 174, 0.9);
    padding: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-head__inner img:first-child {
  margin-right: 36px;
}

@media screen and (max-width: 768px) {
  .c-head__inner img:first-child {
    margin-right: 0;
  }
}

.c-head__inner span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #777;
  border-radius: 50%;
  margin-left: 18px;
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-head__inner span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .c-head__inner .logoSp {
    background-color: #fff;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    width: 80%;
    padding: 20px;
    font-family: "Noto Sans Japanese";
    color: #3c3c3c;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .c-head__inner .logoSp img {
    margin-bottom: 5px;
  }
}

.c-head__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-head__box {
    display: block;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-head__new {
  width: 43%;
  padding: 30px 0;
  background-color: #10222b;
}

@media screen and (max-width: 768px) {
  .c-head__new {
    width: auto;
    padding: 12px 25px;
  }
}

.c-head__open {
  width: 57%;
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(81, 210, 160, 0.8)), to(rgba(0, 166, 222, 0.8)));
  background: -webkit-linear-gradient(left, rgba(81, 210, 160, 0.8), rgba(0, 166, 222, 0.8));
  background: linear-gradient(to right, rgba(81, 210, 160, 0.8), rgba(0, 166, 222, 0.8));
  /* Standard syntax (must be last) */
}

@media screen and (max-width: 768px) {
  .c-head__open {
    width: auto;
    padding: 12px 15px;
  }
}

/* Navigation page
------------------------------------------------------------*/
.c-gnavi {
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .c-gnavi {
    display: none;
  }
}

.c-gnavi ul {
  text-align: right;
}

.c-gnavi li {
  display: inline-block;
  margin: 35px 61px 35px 0;
}

.c-gnavi a {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: none;
  position: relative;
}

.c-gnavi a:before {
  content: "";
  position: absolute;
  border: solid #ff1e5b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  top: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -25px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
footer {
  background-color: #33c49d;
  padding-top: 50px;
  text-align: center;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 30px;
    min-width: 100%;
  }
}

footer p {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 25px;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  footer p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 20px;
  }
}

footer .c-copyright {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #3c3c3c;
  padding: 15px 0;
  letter-spacing: 0.5px;
  margin-top: 58px;
}

@media screen and (max-width: 768px) {
  footer .c-copyright {
    margin-top: 25px;
    font-size: 1rem;
    padding: 8px 0;
  }
}

footer .c-backtop {
  position: fixed;
  background: url(../img/backtop.png) no-repeat;
  width: 100px;
  height: 100px;
  bottom: 100px;
  right: 72px;
  display: none;
  z-index: 10000;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer .c-backtop {
    width: 50px;
    height: 50px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    right: 10px;
    bottom: 32px;
  }
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-container {
  width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: auto;
  }
}

/* custom width sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .l-wrap {
    width: 89.0625%;
    margin: auto;
  }
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  text-align: center;
  margin: 65px 0;
  position: relative;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .c-btn1 {
    min-width: 100%;
    padding: 0 3%;
    margin: 10px 0 30px;
  }
}

.c-btn1 a {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #ff1e5b;
  text-decoration: none;
  padding: 25px 60px 25px 110px;
  border-radius: 50px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-btn1 a {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 20px 10% 20px 15%;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.2rem;
  }
}

.c-btn1 a:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  top: 49%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  left: 60px;
}

@media screen and (max-width: 768px) {
  .c-btn1 a:before {
    left: 12%;
    padding: 3px;
  }
}

/*
------------------------------------------------------------*/
.c-btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-btn2 {
    display: block;
  }
}

.c-btn2 a {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 50px;
  width: 420px;
  height: 90px;
  position: relative;
  border: 1px solid #fff;
  margin: 14px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-btn2 a {
    width: 100%;
    max-width: 570px;
    margin: 10px auto;
    font-size: 1.4rem;
    height: auto;
    padding: 20px 0;
  }
}

.c-btn2 a span {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 185px;
}

@media screen and (max-width: 768px) {
  .c-btn2 a span {
    font-size: 1.4rem;
    width: 140px;
  }
}

.c-btn2 a span:before {
  position: absolute;
  content: "";
  background: url(../img/26.png) no-repeat;
  width: 19px;
  height: 20px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .c-btn2 a span:before {
    width: 15px;
    height: 15px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
}

.c-btn2 a img {
  width: 200px;
  height: 21px;
  margin: 5px auto;
}

@media screen and (max-width: 768px) {
  .c-btn2 a img {
    width: 130px;
    height: auto;
  }
}

.c-btn2__right p {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .c-btn2__right p {
    font-size: 1rem;
  }
}

.c-btn2__right a {
  padding-left: 22px;
  font-size: 1.5rem;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .c-btn2__right a {
    padding: 5px 0;
  }
}

.c-btn2__right span {
  width: 250px !important;
}

@media screen and (max-width: 768px) {
  .c-btn2__right span {
    width: 135px !important;
  }
}

.c-btn2__right span:before {
  background: url(../img/27.png) no-repeat !important;
}

@media screen and (max-width: 768px) {
  .c-btn2__right span:before {
    width: 18px !important;
    height: 18px !important;
    -webkit-background-size: 100% 100% !important;
            background-size: 100% !important;
    left: -25px !important;
  }
}

@media screen and (max-width: 768px) {
  .c-btn2__right a:before {
    width: 10px;
    height: 10px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    left: 30%;
    top: 70%;
  }
}

/*
------------------------------------------------------------*/
.c-btn3 {
  text-align: center;
}

.c-btn3 a {
  width: 480px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-btn3 a {
    width: 100%;
    max-width: 480px;
    padding: 3% 5%;
    border-radius: 45px;
    height: auto;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-title1 {
    padding: 0 10%;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-navi1 {
  background: url(../img/19.png) no-repeat;
  padding: 60px 0 85px;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .c-navi1 {
    padding: 0 0 10px 0;
    min-width: 100%;
    background: url(../img/19.png) 0px 40px no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  }
}

.c-navi1 ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1460px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .c-navi1 ul {
    width: 100%;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 2%;
  }
}

@media screen and (max-width: 768px) {
  .c-navi1 ul li {
    width: 48%;
    margin: 20px 1%;
  }
}

@media screen and (max-width: 768px) {
  .c-navi1 ul li:first-child {
    width: 100%;
    margin: 0 2%;
  }
}

.c-navi1__campaign {
  background: url(../img/16.png) no-repeat;
  padding: 133px 0 913px 66px;
  position: absolute;
  top: -295px;
  width: 586px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .c-navi1__campaign {
    position: static;
    background: url(../img/16sp.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20% 15%;
    margin-top: -7%;
  }
}

.c-navi1__campaign img {
  margin-bottom: 17px;
}

@media screen and (max-width: 768px) {
  .c-navi1__campaign img {
    padding: 0 10%;
  }
}

.c-navi1__campaign p {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 3rem;
  font-weight: 150;
  padding: 0 52px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-navi1__campaign p {
    padding: 0 45px;
    font-size: 1.6rem;
    display: inline-block;
  }
}

.c-navi1__campaign p:before {
  position: absolute;
  content: "";
  background: url(../img/18.png) no-repeat;
  width: 34px;
  height: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*
------------------------------------------------------------*/
.c-navi2 {
  text-align: center;
}

.c-navi2 h4 {
  background-color: #10222b;
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  padding: 15px 0;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .c-navi2 h4 {
    margin-top: 30px;
    font-size: 1.6rem;
  }
}

.c-navi2 ul {
  padding: 32px 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c8c8c8;
  border-top: 0;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul {
    padding: 20px 10px;
    border: 0;
  }
}

.c-navi2 ul span {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1;
  height: 60px;
  width: 170px;
  background: -webkit-gradient(linear, left top, right top, from(#51d2a0), to(#01a6de));
  background: -webkit-linear-gradient(left, #51d2a0, #01a6de);
  background: linear-gradient(to right, #51d2a0, #01a6de);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul span {
    width: 100%;
    font-size: 1.3rem;
    height: 30px;
  }
}

.c-navi2 ul span:after {
  position: absolute;
  content: "";
  border-right: 10px solid #fff;
  border-left: 20px solid #01a6de;
  border-top: 30px solid #fff;
  border-bottom: 30px solid #fff;
  right: -30px;
  top: 0;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul span:after {
    content: none;
  }
}

.c-navi2 ul li {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul li {
    display: block;
    text-align: center;
    margin: 0 2%;
    width: 48%;
  }
}

.c-navi2 ul p {
  font-family: "Noto Sans Japanese";
  color: #404040;
  font-size: 3.2rem;
  font-weight: bold;
  font-style: italic;
  padding: 5px 40px 0 25px;
  margin-right: 12px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul p {
    text-align: center;
    margin-right: 0;
    padding: 5px 0;
    font-size: 2rem;
  }
}

.c-navi2 ul p:after {
  position: absolute;
  content: "";
  background: url(../img/20.png) no-repeat;
  width: 31px;
  height: 30px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-65%);
      -ms-transform: translateY(-65%);
          transform: translateY(-65%);
}

@media screen and (max-width: 768px) {
  .c-navi2 ul p:after {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 150%;
    right: auto;
    left: 10%;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    width: 15px;
    height: 15px;
  }
}

.c-navi2 ul p:before {
  position: absolute;
  content: "";
  border-top: 1px solid #ff1e5b;
  width: 75%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%) rotate(-10deg);
      -ms-transform: translate(-50%, -50%) rotate(-10deg);
          transform: translate(-50%, -50%) rotate(-10deg);
  left: 50%;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul p:before {
    width: 100px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
        -ms-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
}

.c-navi2 ul small {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul small {
    font-size: 1rem;
  }
}

.c-navi2 ul img {
  height: 62px;
}

@media screen and (max-width: 768px) {
  .c-navi2 ul img {
    width: 50%;
    height: auto;
    max-width: 80px;
  }
}

/*
------------------------------------------------------------*/
.c-navi3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .c-navi3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-navi3 li {
  width: 272px;
  height: 204px;
}

@media screen and (max-width: 768px) {
  .c-navi3 li {
    width: 48%;
    margin: 2% 0;
    height: auto;
  }
}

.c-navi3 li img {
  width: 100%;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-imgtext1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .c-imgtext1 {
    width: 100%;
    display: block;
    padding: 15px;
  }
}

.c-imgtext1__img {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__img {
    margin-right: 0;
    text-align: center;
  }
}

.c-imgtext1__text span {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  padding: 5px 0 10px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__text span {
    text-align: center;
    font-size: 1.6rem;
    padding: 15px 0 12px;
  }
}

.c-imgtext1__text p {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.5rem;
  font-weight: normal;
}

.c-imgtext1__text ul {
  background-color: #f0f0f0;
  padding: 20px 30px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__text ul {
    margin-top: 30px;
    padding: 10px 15px;
  }
}

.c-imgtext1__text li {
  position: relative;
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 5px 0 5px 20px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__text li {
    font-size: 1.2rem;
    padding-left: 15px;
  }
}

.c-imgtext1__text li:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #33c49d;
  left: 0;
  top: 13px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__text li:before {
    top: 11px;
  }
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1 {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c8c8c8;
}

@media screen and (max-width: 768px) {
  .c-table1 {
    border: 0;
  }
}

.c-table1 th {
  font-family: "Noto Sans Japanese";
  color: #dbdedf;
  font-size: 2rem;
  font-weight: normal;
  background-color: #10222b;
  width: 100%;
  padding: 14px 0;
}

.c-table1 td {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #c8c8c8;
  padding: 15px 30px;
  width: 285px;
}

.c-table1 td span {
  display: inline-block;
  line-height: 1.3;
  font-weight: normal;
}

.c-table1 td strong {
  display: block;
  color: #ff1e5b;
  line-height: 1.72;
}

.c-table1 td:first-child {
  border: 0;
  border-top: 1px solid #c8c8c8;
  text-align: left;
  width: 587px;
}

@media screen and (max-width: 768px) {
  .c-table1 td:first-child {
    width: auto;
  }
}

.c-table1 td:first-child p {
  width: 230px;
  float: left;
}

.c-table1 tr:nth-child(even) {
  background-color: #f8f8f8;
}

.c-table1__text .l-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .c-table1__text .l-wrap {
    display: block;
    margin-top: 15px;
  }
}

.c-table1__text span {
  background-color: #33c49d;
  display: inline-block;
  padding: 5px 19px;
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .c-table1__text span {
    padding: 10px 0;
    display: block;
    margin: 10px 0 10px 0;
    font-size: 1.3rem;
  }
}

.c-table1__text p {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.5rem;
  font-weight: normal;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .c-table1__text p {
    margin-right: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

.c-table1__text--bg {
  background-color: #0080ae !important;
}

.c-table1--remove {
  position: relative;
}

.c-table1--remove:before {
  position: absolute;
  content: "";
  border-top: 1px solid #ff1e5b;
  width: 55%;
  top: 15px;
  -webkit-transform: rotate(-6deg) translateX(-50%);
      -ms-transform: rotate(-6deg) translateX(-50%);
          transform: rotate(-6deg) translateX(-50%);
  left: 50%;
}

@media screen and (max-width: 768px) {
  .c-table1--remove:before {
    top: 26px;
    width: 130px;
  }
}

.c-table1__title {
  font-family: "Noto Sans Japanese";
  color: #dbdedf;
  font-size: 2rem;
  font-weight: normal;
  background-color: #10222b;
  text-align: center;
  padding: 10px 0;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .c-table1__title {
    font-size: 1.6rem;
    padding: 15px 0;
  }
}

.c-table1__item {
  margin-bottom: 15px;
}

.c-table1__item h4 {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid #c8c8c8;
  padding: 20px 15px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-table1__item h4:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #0080ae;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-table1__item h4:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background-color: #0080ae;
  right: 29.5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.c-table1__item h4 span {
  font-family: "Noto Sans Japanese";
  color: #999;
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  margin-left: 30px;
}

.c-table1__item.is-active h4:before {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  top: 35%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-table1__itemhide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  border: 1px solid #c8c8c8;
  border-top: 0;
  border-bottom: 0;
}

.c-table1__itemhide > div:last-child {
  border-bottom: 1px solid #c8c8c8;
}

.c-table1__itemhide strong {
  display: block;
  color: #ff1e5b;
  line-height: 1.4;
}

.c-table1__itemhide .c-table1--remove:before {
  left: 15px;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.c-table1__itemhide p {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: bold;
  width: 40%;
  background-color: #fbfbfb;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  padding: 18px 15px;
}

.c-table1__itemhide span {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
  padding: 18px 15px;
  border-top: 1px solid #c8c8c8;
  width: 60%;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/* contact page
------------------------------------------------------------*/
.c-contact {
  background: url(../img/21.png) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  padding: 160px 0 190px;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .c-contact {
    background: url(../img/21sp.png) no-repeat center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    padding: 70px 0 56.25%;
    min-width: 100%;
  }
}

.c-contact h4 {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 3.2rem;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .c-contact h4 {
    font-size: 1.6rem;
  }
}

.c-contact h3 {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: 1;
  padding: 22px 0;
}

@media screen and (max-width: 768px) {
  .c-contact h3 {
    font-size: 2.8rem;
    padding: 25px 0;
  }
}

.c-contact h3 img {
  margin-right: 15px;
  margin-top: -3px;
}

@media screen and (max-width: 768px) {
  .c-contact h3 img {
    margin: 0 auto 15px;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .c-contact h3 span {
    display: block;
  }
}

.c-contact__txt {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 35px 0 10px;
}

@media screen and (max-width: 768px) {
  .c-contact__txt {
    font-size: 1.2rem;
    margin: 0 30px 25px;
  }
}

/* Map page
------------------------------------------------------------*/
.l-map {
  background: url(../img/29.png) 93% 95px no-repeat;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .l-map {
    background: 0;
    min-width: 100%;
  }
}

.c-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1440px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-map {
    display: block;
    min-width: 100%;
    width: auto;
  }
}

.c-map__title {
  font-family: "Noto Sans Japanese";
  color: #3c3c3c;
  font-size: 5.6rem;
  font-weight: 150;
  line-height: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-730px);
      -ms-transform: translateX(-730px);
          transform: translateX(-730px);
}

@media screen and (max-width: 768px) {
  .c-map__title {
    position: static;
    padding-bottom: 25px;
    margin-right: 0;
    text-align: center;
    font-size: 2.8rem;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.c-map__img {
  width: 100%;
}

.c-map__img iframe {
  height: 590px;
  padding-top: 110px;
}

@media screen and (max-width: 768px) {
  .c-map__img iframe {
    height: 300px;
    padding-top: 0;
  }
}

.c-map__info {
  margin-left: 40px;
  width: 66%;
  height: 420px;
  background-color: #10222b;
  padding: 85px 60px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .c-map__info {
    width: 100%;
    margin-left: 0;
    margin-top: -3px;
    height: auto;
    padding: 15px 15px;
  }
}

.c-map__info dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #636f75;
  width: 480px;
  padding: 7.5px 0;
}

@media screen and (max-width: 768px) {
  .c-map__info dl {
    width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 15px;
  }
}

.c-map__info dl img {
  margin: 4px 5px 0 0;
}

.c-map__info dl:last-child {
  border-bottom: 0;
}

.c-map__info dt, .c-map__info dd {
  font-family: "Noto Sans Japanese";
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .c-map__info dt, .c-map__info dd {
    font-size: 1.4rem;
  }
}

.c-map__info dd {
  width: 160px;
}

@media screen and (max-width: 768px) {
  .c-map__info dd {
    width: 100%;
    margin: 10px 0;
  }
}

/* Information
------------------------------------------------------------*/
.c-infor {
  background-color: #eee;
  padding: 105px 0 95px;
  margin-top: 90px;
  min-width: 1440px;
}

@media screen and (max-width: 768px) {
  .c-infor {
    margin-top: 40px;
    padding: 40px 0;
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .c-infor img {
    width: 70%;
  }
}

.c-infor span {
  display: block;
  font-family: "Noto Sans Japanese";
  color: #666;
  font-size: 3.2rem;
  font-weight: normal;
  padding: 4px 0;
}

@media screen and (max-width: 768px) {
  .c-infor span {
    font-size: 1.6rem;
  }
}

.c-infor p {
  font-family: "Noto Sans Japanese";
  color: #404040;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 45px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-infor p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 10px;
  }
}

/*------------------------------------------------------------
Top page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-index1 {
  padding: 125px 0 128px;
}

@media screen and (max-width: 768px) {
  .p-index1 {
    padding: 50px 0;
  }
}

/*
------------------------------------------------------------*/
.p-index2 {
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .p-index2 {
    padding: 50px 0 0;
    margin-top: 0;
  }
}

.p-index2 .c-title1 {
  margin-bottom: 47px;
}

@media screen and (max-width: 768px) {
  .p-index2 .c-title1 {
    margin-bottom: 30px;
  }
}

/*
------------------------------------------------------------*/
.p-index3 {
  padding: 120px 0 124px;
}

@media screen and (max-width: 768px) {
  .p-index3 {
    padding: 50px 0;
  }
}

.p-index3 .c-title1 {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .p-index3 .c-title1 {
    margin-bottom: 30px;
  }
}
