/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
footer {
    background-color: #33c49d;
    padding-top: 50px;
    text-align: center;
    min-width: 1440px;
    @include sp {
        padding-top: 30px;
        min-width: 100%;
    }
    p {
        @include styleText(#fff, 1.5rem, normal);
        margin-top: 25px;
        line-height: 1.6;
        @include sp {
            font-size: 1.2rem;
            line-height: 1.8;
            margin-top: 20px;
        }
    }
    .c-copyright {
        @include styleText(#fff, 1.2rem, normal);
        background-color: #3c3c3c;
        padding: 15px 0;
        letter-spacing: 0.5px;
        margin-top: 58px;
        @include sp {
            margin-top: 25px;
            font-size: 1rem;
            padding: 8px 0;
        }
    }
    .c-backtop {
        position: fixed;
        background: url(../img/backtop.png) no-repeat;
        width: 100px;
        height: 100px;
        bottom: 100px;
        right: 72px;
        display: none;
        z-index: 10000;
        cursor: pointer;
        @include sp {
            width: 50px;
            height: 50px;
            background-size: 100%;
            right: 10px;
            bottom: 32px;
        }
    }
}