/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-head {
    background: url(../img/01.jpg) no-repeat center top;
    background-size: cover;
    height: 800px;
    position: relative;
    min-width: 1440px;
    @include sp {
        min-width: 320px;
        background: url(../img/01sp.jpg) no-repeat center top;
        background-size: cover;
        height: auto;
        padding-bottom: 120%;
    }

    // -------------------------------------------------------------------
    &__logo {
        position: absolute;
        right: 6%;
        top: 50%;
        transform: translateY(-50%);
        @include sp {
            display: flex;
            position: static;
            transform: none;
            justify-content: space-between;
        }
    }

    // -------------------------------------------------------------------
    &__inner {
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 40px;
        box-sizing: border-box;
        @include sp {
            width: 50%;
            background-color: rgba(0,128,174,0.9);
            padding: 12px;
            justify-content: space-between;
        }
        img:first-child {
            margin-right: 36px;
            @include sp {
                margin-right: 0;
            }
        }
        span {
            display: inline-block;
            width: 120px;
            height: 120px;
            background-color: #777;
            border-radius: 50%;
            margin-left: 18px;
            @include styleText(#fff, 2.4rem, bold);
            line-height: 120px;
            text-align: center;
            @include sp {
                display: none;
            }
        }
        .logoSp {
            @include sp {
                background-color: #fff;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: 80%;
                padding: 20px;
                @include styleText($color1, 1.6rem, bold);
                img {
                    margin-bottom: 5px;
                }
            }
        }
    }

    // -------------------------------------------------------------------
    &__box {
        display: flex;
        text-align: center;
        @include sp {
            display: block;
            width: 50%;
            flex-direction: column;
        }
    }

    // -------------------------------------------------------------------
    &__new {
        width: 43%;
        padding: 30px 0;
        background-color: #10222b;
        @include sp {
            width: auto;
            padding: 12px 25px;
        }
    }

    // -------------------------------------------------------------------
    &__open {
        width: 57%;
        padding: 30px 0;
        background: linear-gradient(to right, rgba(81,210,160,0.8) , rgba(0,166,222,0.8)); /* Standard syntax (must be last) */
        @include sp {
            width: auto;
            padding: 12px 15px;
        }
    }
}

/* Navigation page
------------------------------------------------------------*/
.c-gnavi {
    min-width: 1440px;
    @include sp {
        display: none;
    }
    ul {
        text-align: right;
    }
    li {
        display: inline-block;
        margin: 35px 61px 35px 0;
    }
    a {
        @include styleText($color1, 1.8rem, normal);
        text-decoration: none;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            border: solid #ff1e5b;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            top: 7px;
            transform: rotate(45deg);
            left: -25px;
        }
    }
}