/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container {
    width: 1440px;
    margin: 0 auto;
    @include sp {
        width: auto;
    }
}

/* custom width sp
------------------------------------------------------------*/
.l-wrap {
    @include sp {
        width: 570/640*100%;
        margin: auto;
    }
}